body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(221, 49, 49) 0.3%,
    rgb(0, 8, 119) 100.7%
  );
  text-align: center;
}

.app-title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 75px;
  color: rgb(0, 8, 119);
  font-family: "metal mania", system-ui;
}

@media (max-width: 800px) {
  .app-title {
    font-size: 48px;
    color: white;
  }
}
